<button type="button" class="btn btn-primary" data-target="#save-person-modal" data-toggle="modal">
  <ng-content></ng-content>
</button>

<div id="save-person-modal" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <span class="modal-title">Criar Pessoa</span>
      </div>
      <div class="modal-body">
        <!-- Formumlário início -->

        <form #savePersonModalForm (submit)="false">

          <div class="form-group">
            <label for="personName">Nome</label>
            <input type="text" id="personName" class="form-control" aria-describedby="personNameHelp" placeholder="Nome completo">
            <small id="personNameHelp">Nome completo</small>
          </div>

          <div class="form-group">
            <label for="personCpf">CPF</label>
            <input type="text" id="personCpf" class="form-control" aria-describedby="personCPFHelp" placeholder="ex: 999.999.999-99">
            <small id="personCPFHelp">CPF válido</small>
          </div>

          <div class="form-group">
            <label for="personEmail">Email</label>
            <input type="text" id="personEmail" class="form-control" aria-describedby="personEmailHelp" placeholder="ex: meuemail@mail.com">
            <small id="personEmailHelp">Email válido</small>
          </div>

        </form>

        <!-- Formulário fim -->
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="close()">Close</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Salvar</button>
      </div>
    </div>
  </div>
</div>
