<button type="button" class="btn btn-primary" style="z-index:-1" data-target="#save-person-modal" data-toggle="modal">
  <ng-content></ng-content>
</button>

<div id="save-person-modal" class="modal fade bd-example-modal-lg"  role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <span class="modal-title">Criar Pessoa</span>
      </div>
      <div class="modal-body">
        <!-- Formumlário início -->

        <form #form (submit)="false">

          <!-- nome -->
          <div class="form-group">
            <label for="personName">Nome</label>
            <input title="personName" name="personName" [(ngModel)]="selectedPerson.name" type="text" id="personName" class="form-control" maxlength="50" aria-describedby="personNameHelp" placeholder="ex: Joaquim Miranda Silva">
            <small id="personNameHelp">Nome completo</small>
          </div>

          <!-- CPF -->
          <div class="form-group">
            <label for="personCpf">CPF</label>
            <input title="personCpf" name="personCpf" [(ngModel)]="selectedPerson.cpf" type="text" id="personCpf" class="form-control" maxlength="12" aria-describedby="personCPFHelp" placeholder="ex: 999.999.999-99">
            <small id="personCPFHelp">CPF válido</small>
          </div>

          <!-- email -->
          <div class="form-group">
            <label for="personEmail">Email</label>
            <input type="text" id="personEmail" name="personEmail" [(ngModel)]="selectedPerson.email" class="form-control" maxlength="255" aria-describedby="personEmailHelp" placeholder="ex: meuemail@mail.com">
            <small id="personEmailHelp">Email válido</small>
          </div>

          <!-- data de nascimento -->
          <div class="form-group">
            <div class="col-sm-12 col-md-6 float-left">
              <label for="dataNascimento">Data de nascimento</label>
              <input type="date" id="dataNascimento" name="personBirthDate" [(ngModel)]="selectedPerson.birthDate" class="form-control" placeholder="dd/mm/yyyy">
            </div>
            <div class="col-sm-12 col-md-6 float-left">
              <label for="sexo">Sexo</label>
              <select id="sexo" name="personSexo" [(ngModel)]="selectedPerson.sexo" class="form-control">
                <option value="M">Masculino</option>
                <option value="F">Feminino</option>
              </select>
            </div>
          </div>

          <!-- Sexo -->
          <div>
              <label for="tags">Tags</label>
              <select id="tags"name="personCpf" [(ngModel)]="selectedPerson.tags" class="form-control" multiple>
                <option value="Cliente">Cliente</option>
                <option value="Vendedor">Vendedor</option>
                <option value="Funcionário">Funcionário</option>
                <option value="Outros">Outros</option>
              </select>
          </div>

          <!-- telefone 1 -->
          <div class="form-group">
            <label for="personPhone1">Telefone 1</label>
            <input type="text" id="personPhone1" name="personPhone[]" [(ngModel)]="selectedPerson.phones[0]" class="form-control" maxlength="20" placeholder="(DDD) 9999-9999">
          </div>

          <!-- telefone 2 -->
          <div class="form-group">
            <label for="personPhone2">Telefone 2</label>
            <input type="text" id="personPhone2" name="personPhone[]" [(ngModel)]="selectedPerson.phones[1]" class="form-control" maxlength="20" placeholder="(DDD) 9999-9999">
          </div>

        </form>

        <!-- Formulário fim -->
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="close()">Close</button>
          <button type="button" class="btn btn-secondary" (click)="savePerson();close();">Salvar</button>
      </div>
    </div>
  </div>
</div>
