
<ul class="col-sm-12 nav bd-navbar">
  <!-- botão de adicionar contato -->
  <li class="nat-item">
    <app-save-person-button #savePerson class="nav-link" [personsListComponent]="this" >
      <app-icon icon="fa-plus"></app-icon>
    </app-save-person-button>
  </li>
</ul>
<h5 *ngIf="contactList.length == 0" class="text-center">
  <hr> Não há contato na sua lista
</h5>
<table *ngIf="contactList.length > 0"  class="table table-stripped table-hover table-responsive container">
  <thead>
    <tr>
      <th>ID</th>
      <th>Nome</th>
      <th>Email</th>
      <th>CPF</th>
      <th>Sexo</th>
      <th>Idade</th>
      <th>Telefones</th>
      <th>Tags</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr role="row" *ngFor="let c of contactList" >
      <td> {{ c.id ? c.id : 'X' }} </td>
      <td> {{ c.name }} </td>
      <td> {{ c.email }} </td>
      <td> {{ c.cpf }} </td>
      <td> {{ c.sexo }} </td>
      <td> {{ c.birthDate }} </td>
      <td> {{ c.phones }} </td>
      <td> {{ c.tags }} </td>
      <td> <button (click)="this.selectContactFromList(c.id)" class="btn btn-primary">Edit</button> <br> Delete </td>
    </tr>
  </tbody>
</table>
